/* Import link*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');


/* common styles/ utilities */
/* html{
    display: contents;
} */
body{
    margin: 0;
}
/* body, html { 
    overflow-x:hidden; 
} */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FDFDFD;
}
.container{
    background-color: #FFFFFF;
    width: 1050px;
}

/*-----------------
    header part 
 ------------------- */
 header{
     width: 100%;
    }
 .banner{
     background-color: #2D25A0;
     display: flex;
     height: 677px;   
 }
.h1-button{
    width: 485px;
    height: 230px;
    margin: 207px 102px 240px 156px;
}
h1{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 27px;
    margin-top: 0;

}
.more-button{
     color: white;
     text-decoration: none;
     background-color: #E02C6D;
     padding: 10px 24px;
     font-family: 'Poppins', sans-serif;
     font-weight: 500;
     border-radius: 5px;
}
.more-button:hover{
    background-color: rgba(129, 93, 93, 0.712);
}
.fa-arrow-right{
    padding-left: 8px;
}
.banner img{
    position: absolute;
    width: 556.01px;
    height: 438px;
    margin-top: 153px;
    margin-bottom: 86px;
    margin-right: 140.99px;  
    transition: transform 1s ease-in ;
}
.banner img:hover{
    transform: scale(1.02) rotate(10deg);   
}

/* Player details part */

.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 27px;
    grid-column-gap: 10px;
    margin-top: 70px;
   
}
.player{
    padding: 15px 15px 33px 15px;
    background-color: white;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player img{
    width: 313px;
    height: 256px; 
    transition: transform 1s ease-out;
}
.player img:hover{
    transform: scale(1.08);
}
.player-details h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 28px;
    color: #18191F;
}
.player-details p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #6C6C6C;
    line-height: 26px;
}

/* Latest videos part */
.videos-header{
    width: 100%;
    margin-top: 70px;
    margin-left: 138px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.videos-header h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 28px;
    color: #18191F;
}
.videos{
    /* width:450px;
    height:200px;  */
    margin-left: 130px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 20px;
}
iframe{
    width:345px;
    height:250px; 
    transition: transform 1s ease-out;
}
iframe:hover{
    transform: scale(1.08);
}


/* Club news part style */
.clubs{
    display: grid;
    grid-template-columns: repeat(4,1fr);
  
}
.club-logo{
    width:220px;
    padding: 15px;
    margin-left:120px;
    margin-right: -90px;
}
.club-logo img{
    width: 220px;
    height: 140px;
    border-bottom: 7px solid;
    border-image: radial-gradient(blue, rgb(238, 42, 189));
    border-image-slice: 1;
    transition: transform 1s ease-out;  
}
.club-logo img:hover{
    transform: scale(1.1);
}
.club-logo a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
.club-logo p{
    color: rgba(255, 0, 0, 0.897);
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
.club-logo a:hover{
    color: rgb(243, 17, 54);
}
/* footer part */
.footer-part{
display: block;
 margin: 58px 220px 63px 200px;
}
.footer-img img{
    width: 543px;
    margin-left: 206px;
}
.icons{
    width: fit-content;
    margin-left: 350px;
}
.icons a{
    padding: 8px;
    text-align: center;
}
.icon{
    color: darkgray;
    width: 32px;
    height: 25px;
    background-color: lightgray;
    border: 1px solid lightgray;
    border-radius: 50%;
    padding-top: 7px;
}
.icon:hover{
    color: blue;
}
footer p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}

/*....................
      media query
.................... */

/* mobile screen */
@media screen and (max-width: 688px) {
    .container{
        width: 100%;
    }
    header{
        width: 100%;
        height: 695px;
      }
      .h1-button{
          width: 100%;
        margin: 70px 66px 20px 16px;
      }
      h1{
          font-size: 36px;
          margin-right: 84px;
      }
    .banner{
        width: 101%;
        display: flex;
        flex-direction: column;
  } 
  .banner img{
    width: 329px;
    height: 260px;
    margin: 40px 16px 61px 15px;
   
  }
  .players, .videos, .clubs{
      grid-template-columns: repeat(1,1fr);
      grid-column-gap: 0px;
  }
  .players{
      margin-left: 13px;
  }
  .player img{
      width: 100%;
  }
  .videos-header{
      margin-bottom: 20px;
      margin-left: 0;
      margin-right: 0;
      width: 100%;
      flex-direction: column;
  }
  .videos{
      width: 50%;
      margin-left: 20px;
      grid-row-gap: 10px;
  }
  .club-logo{
      margin-left: 70px;
  }
  .footer-part{
     margin: 57px 0px 53px -33px;
    }
    .footer-img{
        width: 375px;
    }
    .footer-img img{
        width: 60%;
        margin-left: 94px;
    }
    .icons{
        width: fit-content;
        margin-left: 135px;
    }
    .footer-part p{
        margin-left: 55px;
    }
   
}

/* Tablet screen */
@media only screen and (min-width:689px) and (max-width:992px) {
    .container{
        width: 685px;
    }
    header{
        width: 100%;
        height: 550px;
      }
      .h1-button{
          width: 48%;
        margin: 130px 0px 30px 20px;
      }
      h1{
        font-size: 45px;
        margin-right: 30px;
      }
      .banner {
        width: 100%;
        display: flex;
        flex-direction: row;
        height: 550px;
      }
  .banner img{
    width: 344px;
    height: 282px;
    margin: 123px 16px 61px 15px;
   
  }
  .players, .videos{
      grid-template-columns: repeat(2,1fr);  
      grid-column-gap: 30px;  
  }
  .player img{
      width: 100%;
  }
  .videos-header{
      margin-bottom: 20px;
      margin-left: 30px;
      margin-right: 0;
      width: 90%;
  }
  .videos{
      width: 50%;
      margin-left: 20px;
      grid-row-gap: 10px;
  }
  .clubs{
    grid-template-columns: repeat(2,1fr);    
}
  .club-logo{
      margin-left: 70px;
  }
  .footer-part{
    text-align: center;
     margin: 58px 0px 63px -45px;
    }
    .footer-img img{
        width: 60%;
        margin-left: -17px;
    }
    .icons{
        width: fit-content;
        margin-left: 300px;
    }
}
