/* Import link*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');


/* common styles/ utilities */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FDFDFD;
}
.container{
    background-color: #FFFFFF;
    width: 1050px;
    /* padding: 30px;
    margin-top: 21px;
    border-radius: 5px; */
}

/*-----------------
    header part 
 ------------------- */
 header{
     width: 100%;
    }
 .banner{
     background-color: #2D25A0;
     display: flex;
     height: 677px;   
 }
.h1-button{
    width: 485px;
    height: 230px;
    margin: 207px 102px 240px 156px;
}
h1{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 27px;
    margin-top: 0;  
}
.h1-button a{
     color: white;
     text-decoration: none;
     background-color: #E02C6D;
     padding: 10px 24px;
     font-family: 'Poppins', sans-serif;
     font-weight: 500;
}
.fa-arrow-right{
    padding-left: 8px;
}
.banner img{
    position: absolute;
    width: 556.01px;
    height: 438px;
    margin-top: 153px;
    margin-bottom: 86px;
    margin-right: 140.99px;  
    transition: transform 1s ease-in ;
}
.banner img:hover{
    transform: scale(1.02) rotate(10deg);   
}

/* Player details part */
/* .container{
    display: flex;
    justify-content: center;
} */
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 27px;
    grid-column-gap: 10px;
    margin-top: 70px;
   
}
.player{
    padding: 15px 15px 33px 15px;
    background-color: white;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player img{
    width: 313px;
    height: 256px; 
}
.player-details h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 28px;
    color: #18191F;
}
.player-details p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #6C6C6C;
    line-height: 26px;
}

/* footer part */
.footer-part{
display: block;
 margin: 158px 220px 63px 200px;
}
.footer-img img{
    width: 543px;
    margin-left: 206px;
}
.icons{
    width: fit-content;
    margin-left: 350px;
}
.icons a{
    padding: 8px;
    text-align: center;
}
.icon{
    color: darkgray;
    width: 32px;
    height: 25px;
    background-color: lightgray;
    border: 1px solid lightgray;
    border-radius: 50%;
    padding-top: 7px;
}
.icon:hover{
    color: blue;
}
footer p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}